@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* General Styles */
.champions {
  @apply flex flex-col items-center;
}

.champion-grid {
  @apply grid grid-cols-12 gap-4 max-w-screen-2xl mx-auto;
}

.champion-card {
  @apply flex flex-col border p-4 text-center;
}

.champion-details {
  @apply h-full w-full flex justify-center items-center;
}